---
layout: default
title: Overview

topics:

  - id: health-wellness
    title: Health & Wellness
    text: >
      <p>Like any true oasis, Greater Palm Springs is flowing with thermal mineral waters. It’s this region’s healing baths that drew its first settlers, a Cahuilla tribe eventually known as the Agua Caliente Band of Indians, and that attracted wagoners in the 19th century and vacationing Angelenos in the 20th. Today, you'll find more than 20 hot springs and spa resorts. You can relax, rejuvenate and reclaim your well-being all throughout the nine cities, where fitness studios, salons and health-food destinations have also bloomed in the fertile setting.</p>
    pois-title: Treat yourself to some TLC
    pois:
      - title: Full-service luxury-resort spas
        description: You’ll be spoiled for choice when planning your spa day, or days, in the oasis. Not only do wellness centers abound, affiliated with leading resorts, but quite a few come decorated with awards from authorities like SpaFinder. Receive a locally inspired herbal massage at The Ritz-Carlton, Rancho Mirage; relax and detox with services created from local red desert clay, desert stones, local citrus, chocolate and coconut sugar at Agua Caliente Casino Resort Spa; or inhale eucalyptus steam aromatherapy at The Well Spa at Miramonte Indian Wells.

      - title: Healing mineral waters
        description: When you’d like a mental break, a body detox or a respiratory or rheumatological boost, it’s time to hit the hot springs. These waters originate deep beneath the earth’s surface, in Southern California’s only thermal, mineral aquifer, and come to you in the form of enchanting pools and grottoes under swaying fan palms and sparkling stars. Add “rush of serotonin” to the health benefits you can look forward to, following your springs experience.

      - title: Yoga
        description: If you can’t stay at the oasis forever, then find an oasis inside of yourself. Stay healthy on your vacation, with hundreds of yoga classes in the Coachella Valley to choose from, covering many different styles – Ashtanga, Bikram, Iyengar and Vinyasa – and trapeze yoga and yoga therapy for rehabilitation. Take a group lesson at Parker Palm Springs (complimentary with all stays in the hotel), or upgrade to a private one-on-one session.

      - title: The Biggest Loser Resort Palm Desert
        description: The people of Greater Palm Springs are so health-conscious, they've got their own The Biggest Loser Resort location. One of just three in the world, and the only in California, it's a one-of-a-kind weight-loss destination housed in an award-winning spa resort in Palm Desert. Stays are oriented around group classes, and nutritious meals end with a follow-up fitness assessment, so you can see just how much progress you made.

      - title: VIP cabanas at iconic pools
        description: "Take your wellness escape to the VIP section. The best way to relax and unwind is with your nearest and dearest around, and no fellow hotel guests and other strangers to distract you. Pick the perfect private poolside perch for you and your posse: a luxury cabana, which might be complete with a programmable shower, a flat-panel TV, heaping fruit platters and a misting system, depending on whether you’re at Riviera Palm Springs, Miramonte Indian Wells Resort & Spa or another luxe escape."

  - id: dining-drinks
    title: Dining & Drinks
    text: >
      <p>You would expect a vacation oasis as storied and star-studded as this one to boast world-class dining, worthy of discerning celebrity tastes – and it over-delivers. Organic fruits and vegetables from local farms; meats from organic, free-range ranches; and California wines converge at elite fine-dining establishments, hip cafés, bars and retro hotspots that pay homage to the midcentury-modern era. Since the weather’s almost always perfect, plenty of these eateries offer al-fresco spaces, so you can get some fresh air with your fresh fare.</p>
    pois-title: Discover the tastes of the oasis
    pois:
      - title: Fine dining
        description: Greater Palm Springs knows fancy. It’s been catering to the Hollywood elite since the 1960s, often in the literal sense, and you can find in the oasis some of the classiest dining rooms this side of L.A. Have what they’re having, or had, at Melvyn’s Restaurant or Copley’s on Palm Canyon; dine under a romantic canopy of trees at La Vallauris or Spencer's; or spring for a more modern meal at Mister Parker’s or Workshop Kitchen + Bar.

      - title: Steakhouses
        description: Sink your teeth into one of the area’s most noteworthy steaks at restaurants like The Steakhouse at Agua Caliente Casino Resort Spa, serving USDA Prime beef; The Edge Steakhouse at Ritz-Carlton Rancho Mirage, known for its superb dry-aged cuts; or Chop House at Jackalope Ranch, with natural and hormone- and antibiotic-free beef. Greater Palm Springs also offers outposts of popular national steakhouses, like Fleming’s, Mastro’s, Ruths' Chris and Sullivan’s Steakhouse.

      - title: Nightlife
        description: "Spend an evening with Lady Luck by your side, at one of five area casinos: Agua Caliente Casino Resort Spa, Augustine Casino, Fantasy Springs Resort Casino, Spa Resort Casino or Spotlight 29 Casino. The high-energy gaming and gambling destinations are home to the likes of high-limit-poker rooms and the latest slot machines, plus venues for some of the hottest concerts in town. After you win big, celebrate to yet more live music at favorite local nightspots, like The Nest and The Purple Room."

      - title: Farm-to-table fare
        description: Never settle for anything less than the freshest possible cuisine in Greater Palm Springs, where chefs source ingredients for their dishes with an almost religious zeal. Weekly farmers markets, including one at VillageFest, make it easy for restaurants like Morgan's in the Desert and Workshop Kitchen + Bar to center their menus around seasonal, local, organic produce – and proximity to California wine country means you can pair farm-to-table dining with vineyard-to-table drinking.

      - title: Culinary experiences
        description: A one-of-a-kind dining experience awaits at PS Underground, a roaming supper club with events that bring anything from 1930s-era speakeasy themes to full-on circus theatrics. Become a member, and you’ll be attending dinner parties at warehouses, galleries and the secret headquarters. For a different culinary treat, enjoy cooking classes or dining under a canopy of stars at restaurants like Copley's on Palm Canyon, Spencer's and Cork & Fork.

  - id: outdoor-adventure
    title: Outdoor Adventure
    text: >
      <p>Consider the oasis your desert playground, thanks to the 300-plus days of sun per year. While its waters make Greater Palm Springs perfect for luxurious soaks, the rugged landscape beckons to more active travelers, who can tee off at over 100 golf courses, summit mountains by foot or bike, and trek to panoramic lookouts. Ride a hot-air balloon over the date groves or the aerial tram over the Chino Canyon cliffs to give a whole new meaning to “the sky’s the limit.” When ready to spectate, head to Indio or Indian Wells, and continue taking in the landscape from a fieldside or courtside perch, at a polo or tennis tournament.</p>
    pois-title: Play your stay away
    pois:
      - title: BMW Performance Center West Driving School at The Thermal Club
        description: The best way to get your heart racing may very well be speeding a motor vehicle around a closed track at 70mph. The best, or at least the most elegant, place to do so is at BMW Performance Driving School – and there are only two in the world. Find one here in the Coachella Valley, stocked with BMW models and Mini Cooper JCW Hardtops and offering classes for both adults and teenagers. Your heart will be accelerating just as fast as your car; trust us.

      - title: Jeep tours
        description: Discovering the desert doesn’t need to be done on two feet. Cover more ground, in less time, on an all-wheel-drive vehicle. A TripAdvisor favorite, Desert Adventures transports tour groups all over Indian Canyons and Joshua Tree National Park, and to the homes of celebrities past and present, while Discovery Channel pick Adventure Hummer Tours takes you into a 33,000-acre nature preserve and the log cabin of Greater Palm Springs’ first settler.

      - title: Hiking
        description: The oasis is a hikers’ paradise, with acres of untouched wilderness and 54 miles of trails in Mt. San Jacinto State Park alone. A day spent charting these or some of the canyons – Palm, Andreas, Murray and Tahquitz, for instance – will put you up close with sights like gorges, waterfalls and the world’s largest grove of fan palms. All that's needed on your end are a hat, a map, sunscreen, water and a healthy sense of adventure.

      - title: Golf
        description: The oasis is covered in green, and not only from the union of an underground aquifer and abundant sunshine. It holds more than 100 golf courses, designed by architects from Arnold Palmer to Jack Nicklaus and occupying thousands and thousands of emerald-colored acres. Take a few of them on, perhaps even competing with stars like Phil Mickelson and Zach Johnson, in January’s PGA TOUR CareerBuilder – this tournament is one of just two PGA experiences where you can play alongside the pros.

      - title: Events
        description: Up for a challenge? Try climbing 2,000 vertical feet on a 6K run or walk during the annual Tram Road Challenge (October 28), at which you’ll make your way up the steep road to the Palm Springs Aerial Tramway. Alternatively, challenge yourself from behind a set of handlebars, during the Patriot Ride for Our Heroes (October 21), as you ride 10, 30, 50 or 100 miles in honor of America’s military, police and firefighters.

  - id: arts-culture
    title: Arts & Culture
    text: >
      <p>The experience of adventuring, detoxing, drinking and dining in the oasis is, in a word, inspiring. And quite a few artists of all kinds have visited and been inspired. Museums and galleries today stand side by side with movie theaters, interior-design studios, fashion boutiques and architectural masterpieces. Once-weekly VillageFest is Palm Springs’ hallmark event, a beloved street fair that unites sidewalk performers, craftsmen and artisans; El Paseo's art walk happens monthly, November through May, and various festivals are held annually.</p>
    pois-title: Get your culture fix
    pois:
      - title: Mid-century modern
        description: It’s impossible to envision a Greater Palm Springs without the 1960s; this era left an indelible mark on all nine cities, as they drew a larger and larger group of vacationing film tycoons and Hollywood starlets. The modernist architecture is a relic of the mid-century period and has since been recognized for its historic and aesthetic value. You can sign up for a tour of Dinah Shore’s and Frank Sinatra’s estates at any time, or coordinate your stay to coincide with Modernism Week Fall Preview in October.

      - title: Modernism Week Fall Preview highlights
        description: Modernism Week Fall Preview, taking place October 19-22, has announced its events lineup, and it’s hard to imagine a dreamier selection of tours and celebrations. Don’t miss the guided walks around Kirk Douglas and Frank Sinatra’s epic estates, the Modernism Show & Sale preview party, Elvis Honeymoon Hideaway Cocktail fête, the architecture drive on a double-decker bus and Palm Springs Art Museum Architecture & Design Center’s Fall in Love with Frey Tour and Reception.

      - title: Desert Oasis
        description: Music festivals are synonymous with Greater Palm Springs, and not just in the springtime. The latest festival to garner buzz will bring reggae and R&B vibes to the Empire Polo Club grounds this fall. Headliners like Damian “Jr. Gong” Marley and Rebelution will be joined by other heavy-hitting acts, like Reel Big Fish, E-40 and Warren G, at Desert Oasis (October 7-8). Get tickets to the inaugural event soon, so you can say you were there when it all began, and don’t forget to wear your festival best.

      - title: El Paseo
        description: Palm Springs vacationers have always been a well-dressed bunch, in addition to a well-heeled one, and they can thank the fabulous outdoor shopping mecca of El Paseo for keeping them and their residences looking fresh. The desert’s answer to Rodeo Drive, this luxury thoroughfare is complete with fine art galleries and high-end boutiques and well worth an afternoon stroll. Stock up on resort wear, find the latest designer fashions, or pick up a new objet d’art to spruce up your home.

      - title: Vintage shopping
        description: Vintage shops abound in this oasis, whether you’re fitting in some retail therapy in Uptown Palm Springs, along Perez Road in Cathedral City or at the various boutiques in Palm Desert. Dig through racks of mid-century threads to find the perfect retro outfit for your Greater Palm Springs getaway, or find the perfect statement piece for your living room. The vintage finds here are so noteworthy, they recently helped land Greater Palm Springs a Vogue write-up.

---

<div class="banner banner--home text--white">
  <div class="banner__wrap row row--padding">
    <h1 class="title title--special title--largest js-fit-text">Greater<br>Palm Springs</h1>
    <div class="space--lg">
      <a id="tracking-title-offer-button" href="#offers" class="btn btn--turquoise">See Offers</a>
    </div>
  </div>
  <div class="banner__nav">
    {% include microsite-nav.html %}
  </div>
</div>


{% assign topics = page.topics %}
{% for topic in topics %}
  <section id="{{topic.id}}" class="section" style="background: url('{{site.baseurl}}/img/bg/bg-gradient.png') center bottom repeat-x, url('{{site.baseurl}}/img/bg/{{topic.id}}.jpg') center / cover no-repeat;">
    <div class="row row--padding">
      <div class="row topic">
        <div class="topic__text">
          <h2 class="title title--blue title--large mobile-align-center">{{topic.title}}</h2>
          <div class="p--lead">
            {{topic.text}}
          </div>
        </div>
        <div class="topic__image">
          <div class="image-block">
             <div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/01.jpg');"></div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/02.jpg');"></div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/03.jpg');"></div>
          </div>
        </div>
      </div>
      <div class="pois row--padding">
        <div class="title title--core title--micro title--bold title--upper title--expanded align-center">{{topic.pois-title}}</div>
        <ul class="pois__list">
          {% assign pois = topic.pois %}
          {% for poi in pois %}<li id="tracking-poi-{{poi.title | slugify}}" class="poi js-open-modal" data-modal-id="{{poi.title | slugify}}">
            <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/pois/{% if poi.slug %}{{poi.slug}}{% else %}{{poi.title | slugify}}{% endif %}.jpg');"></div>
          </li>{% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}

<section id="offers" class="section">
  <div class="row row--padding">
    <div class="row align-center">
      <div class="space--lg"></div>
      <h2 class="title title--special title--larger title--blue">Offers</h2>
      <div class="space--lg"></div>
    </div>
    <div class="row--extra-margin">
      {% include offers.html %}
    </div>
  </div>
</section>

<section class="section section--small offer-promo">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
  </div>
  <div class="row row--narrow row--padding">
    <div class="row align-center">
      <h2 class="title title--core title--large">That's not all we've got...</h2>
      <p class="p--lead">Didn't see anything that strikes your fancy? We have plenty more offers in beautiful destinations with savings of up to 70% off.</p>
      <a id="tracking-se-current-sales" href="https://us.secretescapes.com/current-sales" class="btn btn--orange">See All Current Sales</a>
    </div>
  </div>
</section>