---
layout: default
title: Overview

topics:

  - id: health-wellness
    title: Health & Wellness
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    pois-title: Health & Wellness POIs
    pois:
      - title: Full-service luxury resort spas
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Healing mineral waters
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Yoga
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Juice bars
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: VIP cabanas at iconic pools
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

  - id: dining-drinks
    title: Dining & Drinks
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    pois-title: Dining & Drinks POIs
    pois:
      - title: Fine dining (farm-to-table)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Food + Wine Festival Palm Desert
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Nightlife (bars and lounges)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Celebrity chefs
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Exclusive experiences ("Outstanding in the Field" and PS Underground)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!


  - id: arts-culture
    title: Arts & Culture
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    pois-title: Arts & Culture POIs
    pois:
      - title: Mid-century Modern (Modernism week, architecture tours)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Coachella Valley Music & Arts Festival
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Palm Springs International Film Festival
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: La Quinta Arts Festival
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Fashion and shopping (Shopping districts + Fashion Week El Paseo)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!


  - id: outdoor-adventure
    title: Outdoor Adventure
    text: >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus totam eligendi maxime dolore ipsam, esse nihil, libero ex reprehenderit veniam tempore commodi nemo! Perspiciatis nisi rerum incidunt optio facilis. Reiciendis quas ratione possimus voluptatem, repudiandae eligendi, quis error necessitatibus doloribus explicabo! Assumenda veritatis a, magni aut illo. Et nam, vero beatae minima reprehenderit ut dolorem cupiditate labore. Magni quos consectetur dolorum ex voluptatum ipsum, dolore non expedita reiciendis quasi ducimus esse deserunt, earum quidem commodi, corporis ullam dicta officia. Ea.</p>
    pois-title: Outdoor Adventure POIs
    pois:
      - title: BMW Performance Center West Driving School at The Thermal Club
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Polo (Empire Polo Club, Eldorado Polo Club)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Jeep tours
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Hiking
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

      - title: Golf (experiences and courses)
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iusto aut maiores laudantium, veniam sit tempora. Ipsum voluptates alias facilis expedita, aperiam dolores odit consectetur, natus sunt. Natus, consequuntur, aperiam. Dolor nostrum eum molestias, eaque voluptatibus, dignissimos qui tempora accusamus!

---

<div class="banner banner--home">
  <div class="banner__wrap row row--padding">
    <h1 class="title title--special title--largest js-fit-text">{{site.title}}</h1>
    <a href="#offers" class="btn btn--outline btn--dark">See Offers</a>
  </div>
  <div class="banner__nav">
    {% include microsite-nav.html %}
  </div>
</div>


{% assign topics = page.topics %}
{% for topic in topics %}
  <section id="{{topic.id}}" class="section" style="background: url('{{site.baseurl}}/img/bg/bg-gradient.png') center bottom repeat-x, url('{{site.baseurl}}/img/bg/{{topic.id}}.jpg') center / cover no-repeat;">
    <div class="row row--padding">
      <div class="row topic">
        <div class="topic__text">
          <h2 class="title title--special title--larger mobile-align-center">{{topic.title}}</h2>
          <div class="p--lead text-white">
            {{topic.text}}
          </div>
        </div>
        <div class="topic__image">
          <div class="image-block">
             <div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/01.jpg');">{% if topic.feature-image-credit-01 %}<span class="bg-image-ratio__credit js-image-credit">{{topic.feature-image-credit-01}}</span>{% endif %}</div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/02.jpg');">{% if topic.feature-image-credit-02 %}<span class="bg-image-ratio__credit js-image-credit">{{topic.feature-image-credit-02}}</span>{% endif %}</div
            ><div class="image-block__image bg-image-ratio" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/03.jpg');"></div>
          </div>
        </div>
      </div>
      <div class="pois row--padding">
        <div class="title title--tiny title--upper title--expanded align-center">{{topic.pois-title}}</div>
        <ul class="pois__list">
          {% assign pois = topic.pois %}
          {% for poi in pois %}<li class="poi js-open-modal" data-modal-id="{{poi.title | slugify}}">
            <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/content/{{topic.id}}/pois/{% if poi.slug %}{{poi.slug}}{% else %}{{poi.title | slugify}}{% endif %}.jpg');"></div>
          </li>{% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endfor %}

<section id="offers" class="section">
  <div class="row row--padding">
    <div class="row align-center">
      <h2 class="title title--special title--larger">Offers</h2>
    </div>
    <div class="row--extra-margin">
      {% include offers.html %}
    </div>
  </div>
</section>

<section class="section section--small offer-promo">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{ site.baseurl }}/img/offers/00-general-current-sales/03.jpg')"></div>
  </div>
  <div class="row row--narrow row--padding">
    <div class="row align-center">
      <h2 class="title title--larger title--light title--margin-none">That’s not all we do...</h2>
      <p class="p--lead">Didn’t see anything to take your fancy? Well, we have loads more offers with savings of up to 70%!</p>
      <a id="tracking-se-offers" href="https://us.secretescapes.com/current-sales" class="btn btn--orange">See Offers</a>
    </div>
  </div>
</section>