// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'futura-pt', 'Futura', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 15px;
  }
  color: $text-paragraph;
}


// -------- Headings --------

.title {
  font-family: $title-font-family;
  font-weight: 400;
  letter-spacing: -.025em;
  line-height: .85;
  + * { margin-top: 1em; }
  &--margin-none + * { margin-top: 0; }
  &--core {
    font-family: $main-font-family;
    font-weight: 200;
    letter-spacing: -.033em;
    line-height: 1.1;
  }
  &--spacing {
    * + & { margin-top: 15px; }
  }
  &--extra-margin { margin-top: 1.5em; }
  &--sub-heading  { margin-top: 0 !important; }

  &--blue      { color: $gps-blue; }
  &--light     { font-weight: 200; }
  &--bold      { font-weight: 700; }
  &--expanded  { letter-spacing: .15em; }
  &--expanded-extra  { letter-spacing: .35em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; }

  &--largest     { font-size: 4em; }
  &--larger      { font-size: 3.583em; }
  &--large       { font-size: 3.583em; }
  &--medium      { font-size: 2.986em; }
  &--small       { font-size: 1.867em; }
  &--smaller     { font-size: 1.44em; }
  &--smallest    { font-size: 1.2em; }
  &--tiny        { font-size: 1.1em; }
  &--micro       { font-size: 1.05em; }
  @include bp(small){
    &--largest     { font-size: 5.16em; }
  }
  @include bp(large){
    &--largest     { font-size: 6.192em; }
    &--small       { font-size: 2.074em; }
  }
  @include bp(xxlarge){
    &--largest     { font-size: 8em; }
    &--larger      { font-size: 5.16em; }
    &--large       { font-size: 4em; }
    &--medium      { font-size: 2.933em; }
    &--small       { font-size: 2.467em; }
    &--smaller     { font-size: 2.25em; }
  }
}

.p {
  &--lead {
    font-size: 1.05em;
    line-height: 1.6;
    @include bp(large){ font-size: 1.25em; }
  }
  &--large { font-size: 1.05em; }
  @include bp(large){
    &--lead { font-size: 1.133em; }
    &--large { font-size: 1.2em; }
  }
  &--small { font-size: .85em; }
}

.text {
  &--white { color: $white; }
}


// -------- general content styles --------

p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 800; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }

.mobile-align-center {
  text-align: center;
  @include bp(large){
    text-align: left;
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
  margin: 1em 0;
}